<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smithysoft.englishclub" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".newactivity.LoginScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.shamanland.facebook.likebutton.FacebookLikeActivity"
            android:label="@string/com_shamanland_facebook"
            android:theme="@style/Theme.Facebook.Like" />
        <activity
            android:name=".activity.TestActivity"
            android:label="TestActivity" />
        <activity
            android:name=".activity.TTTTT"
            android:label="TTTTT"/>
    </application>

</manifest>
